:root {
  --font-regular: 1rem;
  --font-semi-big: 1.25rem;
  --font-big: 1.5rem;

  --main-accent-color: #2d6e85;
  --main-light-accent-color: #D1E8EF;
  --gray-accent-color: #433A44;
}

* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: var(--font-regular);
  margin: 0;
  padding: 0;
  color: var(--color-text-on);
}

html {
  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
  font-size: clamp(14px, 2vw, 18px);
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

/*img, picture, svg, video {
  display: block;
  max-width: 100%;
}*/

input, button, textarea, select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}