---
const { class: className, ...rest } = Astro.props
---

<button class={ className } { ...rest }>
  <slot />
</button>

<style>
  button {
    padding: 1rem 1.5rem;
    background-color: var(--main-accent-color);
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
    transition: font-weight 0.1s ease-in-out;
    display: inline-block;
    width: fit-content;
  }

  button:hover {
    transform: scale(1.025);
    font-weight: 500;
  }

  button:active {
    transform: scale(0.975);
  }
</style>
