<header>
  <span>Cartas hechas a mano</span>
  <nav>
    <ul>
      <li>Inicio</li>
      <li>Cómo funciona</li>
      <li>Preguntas frecuentes</li>
    </ul>
  </nav>
</header>

<style>
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  span {
    font-family: "Quintessential", 'Times New Roman', Times, serif;
    font-size: var(--font-big);
    font-weight: 600;
    color: var(--main-accent-color);
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
</style>
