---
import MainLayout from "../layouts/MainLayout.astro";
import FAQItem from "../components/layouts/FAQItem.astro";
---

<MainLayout>
  <section class="faq-section">
    <h2>Preguntas Frecuentes</h2>

    <FAQItem>
      <span slot="pregunta">¿Las cartas están hechas a mano?</span>
      <p slot="respuesta">
        El interior de la carta donde van los textos dirigidos al destinatario
        está realizado a mano con una pluma fuente (una pluma estilográfica es
        un instrumento de dibujo técnico y escritura).
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta"
        >¿Cómo controlan la calidad de la caligrafía y correcta ortografía de
        cada carta?</span
      >
      <p slot="respuesta">
        Todas las cartas pasan varios controles internos para asegurarte la
        máxima calidad. Si quieres ver muestras de nuestros envíos solo tienes
        que solicitarnos al correo ayuda@cartashechoamano.com.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta">¿Cuántas palabras permiten en sus tarjetas?</span>
      <p slot="respuesta">
        Las cartas tienen una capacidad máxima de 50 a 65 palabras. Si tu
        mensaje incluye más, te daremos un presupuesto personalizado.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta">¿Puedo pedir varias cartas en un mismo pedido?</span
      >
      <p slot="respuesta">
        Sí, por supuesto. Una vez que termines de personalizar la primera,
        tendrás la opción de seguir añadiendo más a tu pedido.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta"
        >¿Puedo elegir entre diferentes estilos de escritura?</span
      >
      <p slot="respuesta">
        ¡Absolutamente! Ofrecemos una variedad de estilos y regularmente
        agregamos más opciones.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta">¿Quiero hacer un pedido de muchas cartas?</span>
      <p slot="respuesta">
        Si necesitas una mayor cantidad para algún evento, a partir de 25 cartas
        los precios son más económicos. Envíanos un mensaje a
        ayuda@cartashechoamano.com para solicitar un presupuesto personalizado.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta">¿Qué precio tienen las cartas y qué incluye?</span>
      <p slot="respuesta">
        El precio de una carta incluye el papel, el sobre, la escritura a mano
        de la carta y del sobre, el lacrado con cera, el manipuleo, la gestión
        de entrega en oficinas de correos y el costo de envío al destino
        solicitado.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta">¿Cuándo recibiré mi carta? ¿Puedo rastrearla?</span>
      <p slot="respuesta">
        Las cartas hechas a mano se envían por envío nacional económico –
        SERPOST (sin seguimiento). Si vives en Lima Metropolitana o Provincias,
        suelen llegar en un plazo de 7 a 10 días. Si vives en el extranjero,
        pueden tardar más de 15 días hábiles. Si no has recibido tu carta en un
        plazo de cuatro semanas desde su envío, contáctanos a
        ayuda@cartashechoamano.com.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta">¿Por qué no se ha enviado todavía mi carta?</span>
      <p slot="respuesta">
        Las cartas de suscripción se envían el último día hábil de cada mes
        calendario. Si te registras en cualquier momento a partir del día 1 del
        mes, tu carta se enviará el último día hábil de ese mismo mes.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta">¿Cómo puedo actualizar mi dirección?</span>
      <p slot="respuesta">
        Puedes actualizar tu dirección y tus datos de pago en cualquier momento
        desde nuestro portal del cliente, en tu cuenta. Si necesitas ayuda,
        contáctanos en ayuda@cartashechoamano.com.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta">¡Ayuda! Me equivoqué de dirección.</span>
      <p slot="respuesta">
        ¡No te preocupes! Envíanos un correo electrónico a
        ayuda@cartashechoamano.com y nos aseguraremos de actualizarla antes de
        enviar tu carta.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta"
        >¿Cuánto cuesta? ¿Ofrecen descuentos por volumen?</span
      >
      <p slot="respuesta">
        Ofrecemos descuentos por volumen a partir de 20 cartas, tarjetas o
        postales. El precio incluye todo: papelería, sobre y envío.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta"
        >¿Podemos utilizar nuestro propio material de papelería?</span
      >
      <p slot="respuesta">
        ¡Sí! Envíanos tus propios papeles o sobres y nosotros nos encargamos de
        escribir el mensaje y realizar el envío.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta">¿Puedo elegir mi propio texto?</span>
      <p slot="respuesta">
        Claro que sí. Envíanos tu texto a ayuda@cartashechoamano.com (máximo 200
        palabras) y con gusto lo escribiremos y enviaremos por ti.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta">¿Hacen envíos fuera de Lima o Perú?</span>
      <p slot="respuesta">
        Realizamos envíos físicos a todo el país. Para envíos internacionales,
        escríbenos a ayuda@cartashechoamano.com y te enviaremos la lista de
        países disponibles.
      </p>
    </FAQItem>

    <FAQItem>
      <span slot="pregunta">¿Puedo agregar algo adicional en el sobre?</span>
      <p slot="respuesta">
        Sí, puedes incluir papelería personalizada como tarjetas de
        presentación, pegatinas, postales, fotos u otros elementos planos y no
        afilados, siempre que sean livianos y quepan en un sobre estándar de
        23.5 × 10 cm.
      </p>
    </FAQItem>
  </section>

  <style>
    .faq-section {
      max-width: 800px;
      margin: 6rem auto;
      padding: 0 2rem;
    }
    h2 {
      text-align: center;
      margin-bottom: 2rem;
      font-size: var(--font-big);
    }
  </style>
</MainLayout>
