---
import MainLayout from "../layouts/MainLayout.astro"
import Hero from "../components/Hero.astro"
import WhyUsReplace from "../components/WhyUsReplace.astro"
import Pricing from "../components/Pricing.astro"
import ReasonShort from "../components/ReasonShort.astro"
import FAQShort from "../components/FAQShort.astro"

export const prerender = true;
---

<MainLayout image="/assets/logo-full-color-text-bg.png">
  <main>
    <Hero></Hero>
    <WhyUsReplace></WhyUsReplace>
    <Pricing></Pricing>
    <ReasonShort></ReasonShort>
    <FAQShort></FAQShort>
  </main>
</MainLayout>
