---
import "../styles/global.css";
import Header from "../components/layouts/Header.astro";
import Footer from "../components/layouts/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width" />
    <title>Cartas Hecho A Mano</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
